{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20130526/json2.js" type="text/javascript"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.6.0/underscore.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-awxGu1AJDf_bPVsg3qljTVR_K44SCMc&sensor=true" type="text/javascript"></script>

<script src="{% static 'libs/mustache.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/django.mustache.js' %}" type="text/javascript"></script>
