- load staticfiles
%script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js" }
%script{ src: "http://cdnjs.cloudflare.com/ajax/libs/json2/20130526/json2.js" }
%script{ src: "http://ajax.cdnjs.com/ajax/libs/underscore.js/1.6.0/underscore.js" }
%script{ src: "http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js" }

%script{ src: '{% static "transit/index_view.js" %}' }
#index-view
